    .title-about{
            font-family: 'BemirsDemoVersionRegular-L360Z';
            font-size: 10rem;
            margin: 5px 10px;
            position: absolute;
            top: 50px;
            left: 200px;
    }
    img{
        width: 350px;
        height: 400px;
        position: absolute;
        top: 200px;
        right: 300px;
    }
    .paragraph-about-me h4{
        display: none;
    }
    .paragraph-about-me{
        font-size: 1rem;
        position: absolute;
        top: 250px;
        left: 200px;
        width: 500px;
        text-align: justify;
    }

   .paragraph-skills{
        font-size: 1rem;
        position: absolute;
        top: 550px;
        left: 200px;
        width: 500px;
        text-align: justify;
    }
    .paragraph-skills h4{
        font-size: 3rem;
        font-family: 'BemirsDemoVersionRegular-L360Z';
        margin-bottom: 0px;
    }
    .about {
    transition: opacity 0.3s ease;
    opacity: 0;
    }

    .about.fade-in {
     opacity: 1;
    }   

@media (max-width: 768px) {
    .title-about{
        font-size: 5rem;
        margin: 5px 10px;
        position: absolute;
        top: 50px;
        left: 50px;
    }
    img{
        width: 250px;
        height: 300px;
        position: absolute;
        top: 200px;
        right: 50px;
    }
    .paragraph-about-me{
        font-size: 1rem;
        position: absolute;
        top: 250px;
        left: 50px;
        width: 300px;
        text-align: justify;
    }
    .paragraph-skills{
        font-size: 1rem;
        position: absolute;
        top: 550px;
        left: 50px;
        width: 300px;
        text-align: justify;
    }
}